 .App {
  text-align: center;
}
/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
} */
body{
  position: relative;
}
.cart-box{
  z-index:1;
  position: fixed;
  border: solid 1px black;
  background-color: rgb(194, 194, 194);
  border-radius: 25px;
  width: 50px;
  height: 50px;
  display: flex;
    justify-content: center;
    align-items: center;
  bottom: 50px;
  right: 50px;
}
.anticon-shopping-cart{
  font-size: 30px;
}
.amount {
  width: 30px;
  background-color: red;
  font-size: 15px;
  color: white;
  border-radius: 15px;
  position: absolute;
  right: -10px;
  top:-10px;
}