.footer{
    width: 100%;
    border-top: 1px solid gray;
    margin-top: 50px;

    display: flex;
    flex-direction: row;

}
.footer >div{
    padding-top: 20px;
    width: 33%;
}
.footer .Link{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@media screen and (max-width: 768px ){
    .footer{
        flex-direction: column;
        justify-content: center;
    }
    .footer >div{
       
        width: 100%;
    }
}